<div *ngIf="pret">
    <div class="row">
        <div class='col-xs-12 col-sm-12'>
            <h2>{{title}}</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class='col-xs-12 col-sm-12'>
            <jhi-alert></jhi-alert>
        </div>
    </div>
    <div class="row">
        <div class='col-xs-12 col-sm-4'>
            <div class="card">
                <h5 class="card-header">Bénéficiaire:</h5>
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <dt>
                            <span jhiTranslate="geFondApp.candidat.nom">Nom</span>
                        </dt>
                        <dd>
                            <span>{{pret.client.candidat.nom}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.candidat.prenom">Prenom</span>
                        </dt>
                        <dd>
                            <span>{{pret.client.candidat.prenom}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.client.dateCreat">Date Creat</span>
                        </dt>
                        <dd>
                            <span>{{pret.client.dateCreat | date:'mediumDate'}}</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Détail du prêt:</h5>
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <dt>
                            <span jhiTranslate="geFondApp.pret.typPret">Typ Pret</span>
                        </dt>
                        <dd>
                            <span>{{pret.typPret}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.montAaccord">Mont Aaccord</span>
                        </dt>
                        <dd>
                            <span>{{pret.montAaccord}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.montDebloq">Mont Debloq</span>
                        </dt>
                        <dd>
                            <span>{{pret.montDebloq}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.nbrEcheance">Nbr Echeance</span>
                        </dt>
                        <dd>
                            <span>{{pret.nbrEcheance}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.periodicite">Periodicite</span>
                        </dt>
                        <dd>
                            <span>{{pret.periodicite}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.dateMisePlace">Date Mise Place</span>
                        </dt>
                        <dd>
                            <span>{{pret.dateMisePlace | date:'mediumDate'}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.datePremiereEcheance">Date Premiere Echeance</span>
                        </dt>
                        <dd>
                            <span>{{pret.datePremiereEcheance | date:'mediumDate'}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.dateDerniereEcheance">Date Derniere Echeance</span>
                        </dt>
                        <dd>
                            <span>{{pret.dateDerniereEcheance | date:'mediumDate'}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.dateDernierDebloq">Date Dernier Debloq</span>
                        </dt>
                        <dd>
                            <span>{{pret.dateDernierDebloq | date:'mediumDate'}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.etat">Etat</span>
                        </dt>
                        <dd>
                            <span>{{pret.etat}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.encours">Encours</span>
                        </dt>
                        <dd>
                            <span>{{pret.encours}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.userInitial">User Initial</span>
                        </dt>
                        <dd>
                            <span>{{pret.userInitial}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.userDecideur">User Decideur</span>
                        </dt>
                        <dd>
                            <span>{{pret.userDecideur}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.userDebloq">User Debloq</span>
                        </dt>
                        <dd>
                            <span>{{pret.userDebloq}}</span>
                        </dd>
                        <dt>
                            <span jhiTranslate="geFondApp.pret.client">Client</span>
                        </dt>
                        <dd>
                            <div *ngIf="pret.client">
                                <a [routerLink]="['/client', pret.client?.id]">{{pret.client?.id}}</a>
                            </div>
                        </dd>
                    </dl>
                    <div class="form-group text-center">
                        <button type="submit" (click)="previousState()" class="btn btn-info">
                            <span class="fa fa-arrow-left"></span>&nbsp;
                            <span jhiTranslate="entity.action.back"> Back</span>
                        </button>
                        <button type="button" [routerLink]="['/', { outlets: { popup: 'pret/'+ pret.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-primary">
                            <span class="fa fa-pencil"></span>&nbsp;
                            <span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-xs-12 col-sm-8'>
            <div class="row">
                <div class="card" style="min-width: 100%;">
                    <h5 class="card-header" (click)="debloquageCollapsed = !debloquageCollapsed" [attr.aria-expanded]="!debloquageCollapsed"
                        aria-controls="debloquage-div">
                        <span [hidden]="!debloquageCollapsed" class="fa fa-plus-square" aria-hidden="true"></span>
                        <span [hidden]="debloquageCollapsed" class="fa fa-minus-square" aria-hidden="true"></span>
                        <span>Les débloquages:</span>
                    </h5>
                    <div class="card-body" id="debloquage-div" [ngbCollapse]="debloquageCollapsed">
                        <h2>
                            <button class="btn btn-primary float-right jh-create-entity create-element-financement" [routerLink]="['/', { outlets: { popup: 'element-financement/'+ pret.id + '/edit'} }]">
                                <span class="fa fa-plus"></span>
                                <span jhiTranslate="geFondApp.elementFinancement.home.createLabel">
                                    Create new Element Financement
                                </span>
                            </button>
                        </h2>
                        <br/>
                        <div class="table-responsive" *ngIf="elementFinancements" [hidden]="emptyEf()">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <span jhiTranslate="geFondApp.elementFinancement.type">Type</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.elementFinancement.montant">Montant</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.elementFinancement.dateFinancement">Date Financement</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let elementFinancement of elementFinancements ;trackBy: trackId">
                                        <td>{{elementFinancement.type}}</td>
                                        <td>{{elementFinancement.montant}}</td>
                                        <td>{{elementFinancement.dateFinancement | date:'mediumDate'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="card" style="min-width: 100%;">
                    <h5 class="card-header" (click)="garantieCollapsed = !garantieCollapsed" [attr.aria-expanded]="!garantieCollapsed" aria-controls="garantie-div">
                        <span [hidden]="!garantieCollapsed" class="fa fa-plus-square" aria-hidden="true"></span>
                        <span [hidden]="garantieCollapsed" class="fa fa-minus-square" aria-hidden="true"></span>
                        <span>Les garanties:</span>
                    </h5>
                    <div class="card-body" id="garantie-div" [ngbCollapse]="garantieCollapsed">
                        <h2>
                            <button class="btn btn-primary float-right jh-create-entity create-garantie" [routerLink]="['/', { outlets: { popup: 'garantie/'+ pret.id + '/edit'} }]">
                                <span class="fa fa-plus"></span>
                                <span jhiTranslate="geFondApp.garantie.home.createLabel">
                                    Create new Garantie
                                </span>
                            </button>
                        </h2>
                        <br/>
                        <div class="table-responsive" *ngIf="garanties" [hidden]="emptyG()">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <span jhiTranslate="geFondApp.garantie.typeGar">Type Gar</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.garantie.montantEvalue">Montant Evalue</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.garantie.montantAfect">Montant Afect</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.garantie.dateDepot">Date Depot</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.garantie.numDocument">Num Document</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.garantie.etat">Etat</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.garantie.dateRetrait">Date Retrait</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let garantie of garanties ;trackBy: trackId">
                                        <td>{{garantie.typeGar}}</td>
                                        <td>{{garantie.montantEvalue}}</td>
                                        <td>{{garantie.montantAfect}}</td>
                                        <td>{{garantie.dateDepot | date:'mediumDate'}}</td>
                                        <td>{{garantie.numDocument}}</td>
                                        <td>{{garantie.etat}}</td>
                                        <td>{{garantie.dateRetrait | date:'mediumDate'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="echeances" [hidden]="emptyE()">
                <div class="card" style="min-width: 100%;">
                    <h5 class="card-header" (click)="echeancierCollapsed = !echeancierCollapsed" [attr.aria-expanded]="!echeancierCollapsed"
                        aria-controls="echeancier-div">
                        <span [hidden]="!echeancierCollapsed" class="fa fa-plus-square" aria-hidden="true"></span>
                        <span [hidden]="echeancierCollapsed" class="fa fa-minus-square" aria-hidden="true"></span>
                        <span>Les échéances:</span>
                    </h5>
                    <div class="card-body" id="echeancier-div" [ngbCollapse]="echeancierCollapsed">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <span jhiTranslate="geFondApp.echeance.dateTombe">Date Tombe</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.echeance.montant">Montant</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.echeance.montantPaye">Déjà payé</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.echeance.etatEcheance">Etat Echeance</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.echeance.datePayement">Date Payement</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.echeance.dateRetrait">Date Retrait</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let echeance of echeances ;trackBy: trackId">
                                        <td>{{echeance.dateTombe | date:'mediumDate'}}</td>
                                        <td>{{echeance.montant}}</td>
                                        <td>{{echeance.montantPaye}}</td>
                                        <td>{{echeance.etatEcheance}}</td>
                                        <td>{{echeance.datePayement | date:'mediumDate'}}</td>
                                        <td>{{echeance.dateRetrait | date:'mediumDate'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card" style="min-width: 100%;">
                    <h5 class="card-header" (click)="mouvementCollapsed = !mouvementCollapsed" [attr.aria-expanded]="!mouvementCollapsed" aria-controls="mouvement-div">
                        <span [hidden]="!mouvementCollapsed" class="fa fa-plus-square" aria-hidden="true"></span>
                        <span [hidden]="mouvementCollapsed" class="fa fa-minus-square" aria-hidden="true"></span>
                        <span>Les mouvements:</span>
                    </h5>
                    <div class="card-body" id="mouvement-div" [ngbCollapse]="mouvementCollapsed">
                        <h2>
                            <button class="btn btn-primary float-right jh-create-entity create-mouvement" [routerLink]="['/', { outlets: { popup: 'mouvement/'+ pret.id + '/edit'} }]">
                                <span class="fa fa-plus"></span>
                                <span>
                                    Saisir un remboursement
                                </span>
                            </button>
                        </h2>
                        <br/>
                        <div class="table-responsive" *ngIf="mouvements" [hidden]="emptyM()">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <span jhiTranslate="geFondApp.mouvement.dateMvt">Date Mvt</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.mouvement.lib">Lib</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.mouvement.montant">Montant</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.mouvement.sens">Sens</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.mouvement.etat">Etat</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="geFondApp.mouvement.compte">Compte</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mouvement of mouvements ;trackBy: trackId">
                                        <td>{{mouvement.dateMvt | date:'mediumDate'}}</td>
                                        <td>{{mouvement.lib}}</td>
                                        <td>{{mouvement.montant}}</td>
                                        <td>{{mouvement.sens}}</td>
                                        <td>{{mouvement.etat}}</td>
                                        <td>
                                            <div *ngIf="mouvement.compte">
                                                <a [routerLink]="['../../compte', mouvement.compte?.id ]">{{mouvement.compte?.id}}</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>