<pret-wz-navbar></pret-wz-navbar>
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row">
            <h2>{{title}}</h2>
        </div>
        <hr>
        <div class="row">
            <jhi-alert></jhi-alert>
        </div>
       <div class="row">
            <div class='col-xs-12 col-sm-4'>
                <form name="editForm" role="form" novalidate (ngSubmit)="add()" #editForm="ngForm">
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="geFondApp.elementFinancement.montant" for="field_montant">Montant</label>
                                <input type="number" class="form-control" name="montant" id="field_montant" [(ngModel)]="elementFinancement.montant" required/>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="geFondApp.elementFinancement.type" for="field_type">Type</label>
                                <select class="form-control" id="field_type" name="type" [(ngModel)]="elementFinancement.type" required>
                                        <option [ngValue]="typeOption" *ngFor="let typeOption of financementTypes">{{typeOption}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="geFondApp.elementFinancement.dateFinancement" for="field_dateFinancement">Date Financement</label>
                                <div class="input-group">
                                    <input id="field_dateFinancement" type="text" class="form-control" name="dateFinancement" ngbDatepicker #dateFinancementDp="ngbDatepicker"
                                        [(ngModel)]="elementFinancement.dateFinancement" />
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary" (click)="dateFinancementDp.toggle()">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                                    <span class="fa fa-plus"></span>&nbsp;
                                    <span>Débloquer un montant</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class='col-xs-12 col-sm-8'>
                <div class="table-responsive" *ngIf="elementFinancements" [hidden]="empty()">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <span jhiTranslate="geFondApp.elementFinancement.type">Type</span>
                                </th>
                                <th>
                                    <span jhiTranslate="geFondApp.elementFinancement.montant">Montant</span>
                                </th>
                                <th>
                                    <span jhiTranslate="geFondApp.elementFinancement.dateFinancement">Date Financement</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let elementFinancement of elementFinancements ;trackBy: trackId">
                                <td>{{elementFinancement.type}}</td>
                                <td>{{elementFinancement.montant}}</td>
                                <td>{{elementFinancement.dateFinancement | date:'mediumDate'}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" (click)="updateElementFinancement(elementFinancement)" replaceUrl="true" queryParamsHandling="merge"
                                            class="btn btn-primary btn-sm">
                                            <span class="fa fa-pencil"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit" (click)="removeElementFinancement(elementFinancement)" class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button (click)="goToPrevious(elementFinancements)" class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;
                <span jhiTranslate="entity.action.precedent">Back</span>

            </button>
            <button (click)="goToNext(elementFinancements)" class="btn btn-info">
                <span jhiTranslate="entity.action.next">Next</span>&nbsp;
                <span class="fa fa-arrow-right"></span>
            </button>
        </div>
    </div>
</div>