[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fondationabbass
[access "refs/for/refs/*"]
	read = group user/fondationabbass
	push = group user/fondationabbass
	label-Code-Review = -2..+2 group user/fondationabbass
	label-Verified = -1..+1 group user/fondationabbass
	rebase = group user/fondationabbass
	removeReviewer = group user/fondationabbass
	submit = group user/fondationabbass
[access "refs/heads/*"]
	read = group user/fondationabbass
	create = group user/fondationabbass
	push = +force group user/fondationabbass
	pushMerge = group user/fondationabbass
[access "refs/tags/*"]
	push = group user/fondationabbass
	push = +force group user/fondationabbass
[submit]
	action = rebase if necessary
