<div>
    <h2>
        <span jhiTranslate="geFondApp.elementFinancement.home.title">Element Financements</span>
        <button class="btn btn-primary float-right jh-create-entity create-element-financement" [routerLink]="['/', { outlets: { popup: ['element-financement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="geFondApp.elementFinancement.home.createLabel">
            Create new Element Financement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="elementFinancements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="geFondApp.elementFinancement.type">Type</span></th>
            <th><span jhiTranslate="geFondApp.elementFinancement.montant">Montant</span></th>
            <th><span jhiTranslate="geFondApp.elementFinancement.dateFinancement">Date Financement</span></th>
            <th><span jhiTranslate="geFondApp.elementFinancement.pret">Pret</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let elementFinancement of elementFinancements ;trackBy: trackId">
                <td><a [routerLink]="['../element-financement', elementFinancement.id ]">{{elementFinancement.id}}</a></td>
                <td>{{elementFinancement.type}}</td>
                <td>{{elementFinancement.montant}}</td>
                <td>{{elementFinancement.dateFinancement | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="elementFinancement.pret">
                        <a [routerLink]="['../pret', elementFinancement.pret?.id ]" >{{elementFinancement.pret?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../element-financement', elementFinancement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'element-financement/'+ elementFinancement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'element-financement/'+ elementFinancement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
