<form name="editForm" role="form" novalidate #editForm="ngForm">
    <div class="form-group" [hidden]="!experienceCandidat.id">
        <label for="id" jhiTranslate="global.field.id">ID</label>
        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="experienceCandidat.id" readonly />
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="geFondApp.experienceCandidat.typeInfo" for="field_typeInfo">Type Info</label>
        <select class="form-control" id="field_typeInfo" name="typeInfo" [(ngModel)]="experienceCandidat.typeInfo"
            required>
            <option>Etude et formation</option>
            <option>Expériance professionnelle</option>
        </select>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="geFondApp.experienceCandidat.titre" for="field_titre">Titre</label>
        <input type="text" class="form-control" name="titre" id="field_titre" [(ngModel)]="experienceCandidat.titre"
            required />
        <div [hidden]="!(editForm.controls.titre?.dirty && editForm.controls.titre?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.titre?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="geFondApp.experienceCandidat.etab" for="field_etab">Etab</label>
        <input type="text" class="form-control" name="etab" id="field_etab" [(ngModel)]="experienceCandidat.etab"
            required />
        <div [hidden]="!(editForm.controls.etab?.dirty && editForm.controls.etab?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.etab?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="geFondApp.experienceCandidat.adressEtab" for="field_adressEtab">Adress
            Etab</label>
        <input type="text" class="form-control" name="adressEtab" id="field_adressEtab" [(ngModel)]="experienceCandidat.adressEtab" />
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="geFondApp.experienceCandidat.dateDeb" for="field_dateDeb">Date
            Deb</label>
        <div class="input-group">
            <input id="field_dateDeb" type="text" class="form-control" name="dateDeb" ngbDatepicker #dateDebDp="ngbDatepicker"
                [(ngModel)]="experienceCandidat.dateDeb" required />
            <span class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="dateDebDp.toggle()"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
        <div [hidden]="!(editForm.controls.dateDeb?.dirty && editForm.controls.dateDeb?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.dateDeb?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="geFondApp.experienceCandidat.dateFin" for="field_dateFin">Date
            Fin</label>
        <div class="input-group">
            <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker #dateFinDp="ngbDatepicker"
                [(ngModel)]="experienceCandidat.dateFin" required />
            <span class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
        <div [hidden]="!(editForm.controls.dateFin?.dirty && editForm.controls.dateFin?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.dateFin?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
</form>