
<div *ngIf="projet">
    <h2><span jhiTranslate="geFondApp.projet.detail.title">Projet</span> {{projet.id}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="geFondApp.projet.intitule">Intitule</span></dt>
        <dd>
            <span>{{projet.intitule}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.montEstime">Mont Estime</span></dt>
        <dd>
            <span>{{projet.montEstime}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.montApp">Mont App</span></dt>
        <dd>
            <span>{{projet.montApp}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.domaine">Domaine</span></dt>
        <dd>
            <span>{{projet.domaine}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.type">Type</span></dt>
        <dd>
            <span>{{projet.type}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.description">Description</span></dt>
        <dd>
            <span>{{projet.description}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{projet.dateCreation | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.etat">Etat</span></dt>
        <dd>
            <span>{{projet.etat}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.lieu">Lieu</span></dt>
        <dd>
            <span>{{projet.lieu}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.projet.candidature">Candidature</span></dt>
        <dd>
            <div *ngIf="projet.candidature">
                <a [routerLink]="['/candidature', projet.candidature?.id]">{{projet.candidature?.id}}</a>
            </div>
        </dd>
    </dl>

    <button *ngIf="!preview" type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *ngIf="!preview" type="button"
            [routerLink]="['/', { outlets: { popup: 'projet/'+ projet.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
