<div class="table-responsive" *ngIf="entretiens">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngIf="fromDb"><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="geFondApp.entretien.cadre">Cadre</span></th>
                <th><span jhiTranslate="geFondApp.entretien.resultat">Resultat</span></th>
                <th><span jhiTranslate="geFondApp.entretien.interlocuteur">Interlocuteur</span></th>
                <th><span jhiTranslate="geFondApp.entretien.etat">Etat</span></th>
                <th><span jhiTranslate="geFondApp.entretien.dateEntretien">Date Entretien</span></th>
                <th><span jhiTranslate="geFondApp.entretien.candidature">Candidature</span></th>
                <th *ngIf="fromDb"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entretien of entretiens ;trackBy: trackId">
                <td *ngIf="fromDb"><a [routerLink]="['../entretien', entretien.id ]">{{entretien.id}}</a></td>
                <td>{{entretien.cadre}}</td>
                <td>{{entretien.resultat}}</td>
                <td>{{entretien.interlocuteur}}</td>
                <td>{{entretien.etat}}</td>
                <td>{{entretien.dateEntretien | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="entretien.candidature">
                        <a [routerLink]="['../candidature', entretien.candidature?.id ]">{{entretien.candidature?.id}}</a>
                    </div>
                </td>
                <td *ngIf="fromDb" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['../entretien', entretien.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'entretien/'+ entretien.id + '/edit'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'entretien/'+ entretien.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>