
<div *ngIf="operation">
    <h2><span jhiTranslate="geFondApp.operation.detail.title">Operation</span> {{operation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="geFondApp.operation.dateOperation">Date Operation</span></dt>
        <dd>
            <span>{{operation.dateOperation | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.typeOperation">Type Operation</span></dt>
        <dd>
            <span>{{operation.typeOperation}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.montant">Montant</span></dt>
        <dd>
            <span>{{operation.montant}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.etat">Etat</span></dt>
        <dd>
            <span>{{operation.etat}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.moyenPaiement">Moyen Paiement</span></dt>
        <dd>
            <span>{{operation.moyenPaiement}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.commentaire">Commentaire</span></dt>
        <dd>
            <span>{{operation.commentaire}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.description">Description</span></dt>
        <dd>
            <span>{{operation.description}}</span>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.compteOrigin">Compte Origin</span></dt>
        <dd>
            <div *ngIf="operation.compteOrigin">
                <a [routerLink]="['/compte', operation.compteOrigin?.id]">{{operation.compteOrigin?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.compteDestinataire">Compte Destinataire</span></dt>
        <dd>
            <div *ngIf="operation.compteDestinataire">
                <a [routerLink]="['/compte', operation.compteDestinataire?.id]">{{operation.compteDestinataire?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.pret">Pret</span></dt>
        <dd>
            <div *ngIf="operation.pret">
                <a [routerLink]="['/pret', operation.pret?.id]">{{operation.pret?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.caisse">Caisse</span></dt>
        <dd>
            <div *ngIf="operation.caisse">
                <a [routerLink]="['/caisse', operation.caisse?.id]">{{operation.caisse?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="geFondApp.operation.echeance">Echeance</span></dt>
        <dd>
            <span *ngFor="let echeance of operation.echeances; let last = last">
                <a [routerLink]="['/echeance', echeance?.id ]">{{echeance.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operation/'+ operation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
