<div>
    <h2>
        <span jhiTranslate="geFondApp.operation.home.title">Operations</span>
        <button class="btn btn-primary float-right jh-create-entity create-operation" [routerLink]="['/', { outlets: { popup: ['operation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="geFondApp.operation.home.createLabel">
            Create new Operation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="operations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateOperation"><span jhiTranslate="geFondApp.operation.dateOperation">Date Operation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="typeOperation"><span jhiTranslate="geFondApp.operation.typeOperation">Type Operation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="montant"><span jhiTranslate="geFondApp.operation.montant">Montant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="moyenPaiement"><span jhiTranslate="geFondApp.operation.moyenPaiement">Moyen Paiement</span> <span class="fa fa-sort"></span></th>
<!--             <th jhiSortBy="etat"><span jhiTranslate="geFondApp.operation.etat">Etat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="commentaire"><span jhiTranslate="geFondApp.operation.commentaire">Commentaire</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="geFondApp.operation.description">Description</span> <span class="fa fa-sort"></span></th>
 -->            <th jhiSortBy="compteOrigin.id"><span jhiTranslate="geFondApp.operation.compteOrigin">Compte Origin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="compteDestinataire.id"><span jhiTranslate="geFondApp.operation.compteDestinataire">Compte Destinataire</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pret.id"><span jhiTranslate="geFondApp.operation.pret">Pret</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="caisse.id"><span jhiTranslate="geFondApp.operation.caisse">Caisse</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operation of operations ;trackBy: trackId">
                <td><a [routerLink]="['../operation', operation.id ]">{{operation.id}}</a></td>
                <td>{{operation.dateOperation | date:'mediumDate'}}</td>
                <td>{{operation.typeOperation}}</td>
                <td>{{operation.montant}}</td>
                <td>{{operation.moyenPaiement}}</td>
<!--                 <td>{{operation.etat}}</td>
                <td>{{operation.commentaire}}</td>
                <td>{{operation.description}}</td>
 -->                <td>
                    <div *ngIf="operation.compteOrigin">
                        <a [routerLink]="['../compte', operation.compteOrigin?.id ]" >{{operation.compteOrigin?.numCompte}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operation.compteDestinataire">
                        <a [routerLink]="['../compte', operation.compteDestinataire?.id ]" >{{operation.compteDestinataire?.numCompte}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operation.pret">
                        <a [routerLink]="['../pret', operation.pret?.id ]" >{{operation.pret?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operation.caisse">
                        <a [routerLink]="['../caisse', operation.caisse?.id ]" >{{operation.caisse?.intituleCaisse}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="operations && operations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
