<jhi-candidature-wz-navbar></jhi-candidature-wz-navbar>
<div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <jhi-visite-edit [visite]="visite" (valid)="valid($event)">
                            </jhi-visite-edit>
                            <div class="form-group text-center">
                                <button [disabled]="editFormInvalid" (click)="add()" class="btn btn-primary">
                                    <span class="fa fa-plus"></span>&nbsp;
                                    <span>Ajouter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <jhi-visite-list [visites]="visites">
                    </jhi-visite-list>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group text-center">
                    <button (click)="goToPrevious()" class="btn btn-info">
                        <span class="fa fa-arrow-left"></span>&nbsp;
                        <span jhiTranslate="entity.action.precedent">Previous</span>
                    </button>
                    <button (click)="goToNext()" class="btn btn-info">
                        <span jhiTranslate="entity.action.next">Next</span>&nbsp;
                        <span class="fa fa-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>