<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandidatLabel" jhiTranslate="geFondApp.candidat.home.createOrEditLabel">Create or edit a Candidat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidat.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidat.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.nni" for="field_nni">Nni</label>
            <input type="number" class="form-control" name="nni" id="field_nni"
                [(ngModel)]="candidat.nni" required min="1000000000" max="9999999999"/>
            <div [hidden]="!(editForm.controls.nni?.dirty && editForm.controls.nni?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nni?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nni?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1000000000 }">
                    This field should be at least 1000000000.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nni?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 9999999999 }">
                    This field cannot be more than 9999999999.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nni?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="candidat.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="candidat.prenom" required/>
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.prenomPere" for="field_prenomPere">Prenom Pere</label>
            <input type="text" class="form-control" name="prenomPere" id="field_prenomPere"
                [(ngModel)]="candidat.prenomPere" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.dateNaissance" for="field_dateNaissance">Date Naissance</label>
            <div class="input-group">
                <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker  #dateNaissanceDp="ngbDatepicker" [(ngModel)]="candidat.dateNaissance"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateNaissance?.dirty && editForm.controls.dateNaissance?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
            <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                [(ngModel)]="candidat.lieuNaissance" required/>
            <div [hidden]="!(editForm.controls.lieuNaissance?.dirty && editForm.controls.lieuNaissance?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lieuNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="candidat.adresse" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.tel" for="field_tel">Tel</label>
            <input type="text" class="form-control" name="tel" id="field_tel"
                [(ngModel)]="candidat.tel" required/>
            <div [hidden]="!(editForm.controls.tel?.dirty && editForm.controls.tel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tel?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidat.situation" for="field_situation">Situation</label>
            <input type="text" class="form-control" name="situation" id="field_situation"
                [(ngModel)]="candidat.situation" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
