<div class="row">
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <jhi-candidat-detail [preview]="true" [candidat]="formatedCandidat">
                </jhi-candidat-detail>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>Expériences du candidat</h2>
        <jhi-experience-candidat-list [experienceCandidats]="aggregate.exps">
        </jhi-experience-candidat-list>
    </div>
</div>