<form name="editForm" role="form" novalidate  #editForm="ngForm">
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidature.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidature.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidature.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="candidature.type" required/>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidature.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="candidature.status" />
        </div>


        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.candidature.candidat" for="field_status">Candidat</label>
            <input  class="form-control" value="{{candidat.prenom}} {{candidat.nom}}" disabled="disabled"/>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button (click)="goToNext(editForm)" [disabled]="editForm.form.invalid" class="btn btn-info">
          <span jhiTranslate="entity.action.next">Next</span>&nbsp;
          <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</form>
