<form name="editForm" role="form" novalidate  #editForm="ngForm">

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projet.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projet.id" readonly />
        </div>
        <div class="row">
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.intitule" for="field_intitule">Intitule</label>
            <input type="text" class="form-control" name="intitule" id="field_intitule"
                [(ngModel)]="projet.intitule" required/>
            <div [hidden]="!(editForm.controls.intitule?.dirty && editForm.controls.intitule?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.intitule?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.montEstime" for="field_montEstime">Mont Estime</label>
            <input type="number" class="form-control" name="montEstime" id="field_montEstime"
                [(ngModel)]="projet.montEstime" required/>
            <div [hidden]="!(editForm.controls.montEstime?.dirty && editForm.controls.montEstime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.montEstime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.montEstime?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.montApp" for="field_montApp">Mont App</label>
            <input type="number" class="form-control" name="montApp" id="field_montApp"
                [(ngModel)]="projet.montApp" required/>
            <div [hidden]="!(editForm.controls.montApp?.dirty && editForm.controls.montApp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.montApp?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.montApp?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.domaine" for="field_domaine">Domaine</label>
            <input type="text" class="form-control" name="domaine" id="field_domaine"
                [(ngModel)]="projet.domaine" required/>
            <div [hidden]="!(editForm.controls.domaine?.dirty && editForm.controls.domaine?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.domaine?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="projet.type" required/>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="projet.description" required/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.etat" for="field_etat">Etat</label>
            <input type="text" class="form-control" name="etat" id="field_etat"
                [(ngModel)]="projet.etat" required/>
            <div [hidden]="!(editForm.controls.etat?.dirty && editForm.controls.etat?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.etat?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geFondApp.projet.lieu" for="field_lieu">Lieu</label>
            <input type="text" class="form-control" name="lieu" id="field_lieu"
                [(ngModel)]="projet.lieu" required/>
            <div [hidden]="!(editForm.controls.lieu?.dirty && editForm.controls.lieu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lieu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geFondApp.document.candidature" for="field_candidature">Candidature :</label>
                    <input  class="form-control" value="{{candidature.type}}" disabled="disabled"/>
                </div>
                </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button (click)="goToNext(editForm)" [disabled]="editForm.form.invalid" class="btn btn-info">
          <span jhiTranslate="entity.action.next">Next</span>&nbsp;
          <span class="fa fa-arrow-right"></span>
      </button>
    </div>
</form>
